@import "compass/reset";
@import "compass/css3";

body {
	font-size: 62.5%;
}

a, a:hover, a:visited {
  color: #CCC;
  text-decoration: none;
  cursor: pointer;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1200px;
}


h1 {
  line-height: 2em;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: white;
}

h2 {
  font-family: HelveticaNeueLTStd-Bd, Helvetica, Arial, sans-serif;
  padding: 40px 0;
  text-align: center;
  font-size: 36px;
}

h3 {
  text-align: center;
  font-size: 24px;
}

.background {
  background: url("../b0.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}


.button {
  width: 120px;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  display: block;
  border-radius: 0;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

//
//.background-rotateY {
//  transform: rotateY(30deg) scale(1.5);
//  transition: trasform 0.5s;
//}

.fixed {
  position: fixed;
}

#top-nav {
  background: rgba(0, 0, 0, 0.2 );
  height: 50px;
  padding: 32px 0;
  left: 0;
  overflow: hidden;
  font-family: HelveticaNeueLTStd-Bd, Helvetica, Arial, sans-serif;
  width: 100%;
  z-index: 100;
  transition: all 0.5s ease-out;

  &.nav-down {
    top: 0;
  }

  &.nav-up {
//    background: rgba(184, 134, 11, 0.2);
    top: -96px;
    height: 68px;
    padding: 14px 0;
  }

  &.scrolled {
    height: 28px;
    padding: 14px 0;
  }

  .header-elements {
    #logo {
      color: white;
      font-size: 24px;
      i {
        font-size: 24px;
      }
    }
    ul {
      padding-top: 5px;
      float: right;
      font-size: 16px;
      li {
        display: inline-block;
        margin-left: 10px;
        .nav-link {
          color: white;
          span {
            width: 0;
            display: block;
            margin: auto;
            border-bottom: 1px white solid;
          }
        }
        &:hover {
          a span {
            width: 100%;
            transition: width 0.5s ease-in;
          }
        }
//        &.active
      }
    }
  }

}

#head {
  font-family: HelveticaNeueLTStd-Bd, Helvetica, Arial, sans-serif;
//  background: rgba(184, 134, 11, 0.2);
  padding-top: 200px;
  height: 300px;
  .hero-title {
    width: 55%;
    margin: auto;
  }
  .divider {
    width: 80px;
    margin: 20px auto 30px;
    border-bottom: 3px white solid;
  }
}

#main {
  font-family: 'Droid Serif', Georgia, serif;
  padding-top: 40px;
  padding-bottom: 60px;
  background: white;

  .single-pic {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    background: url("../abcfbca1.jpeg");
    background-position: 50% 60%;
    background-repeat: no-repeat;
  }

  .pics {
    text-align: center;
    height: 180px;
    overflow: hidden;
    .pic-quarter{
      width: 24%;
      display: inline-table;
      vertical-align: top;
      img {
        max-width: 100%;
      }
    }
  }

  .steps {
    .step {
      display: inline-block;
      vertical-align: top;
      width: 33%;
      .text {
        color: #CCC;
        margin: 20px auto 10px;
      }

      .circle {

        h3 {
          margin-top: 50%;
          line-height: 0;
        }

        display: block;
        width: 120px;
        height: 120px;
        margin: 20px auto;
        border-radius: 50%;
        border: 4px #CCC solid;

        &.step1 {
          border-right-color: transparent;
          border-bottom-color: transparent;
          transform: rotate(-45deg);
          h3 {
            transform: rotate(45deg);
          }
        }

        &.step2 {
          border-right-color: transparent;
          transform: rotate(-45deg);
          h3 {
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  .text {
    width: 60%;
    line-height: 30px;
    margin: 40px auto 20px;
    text-align: center;
    word-spacing: 2px;
    font-size: 18px;
  }

  .separator {
    margin: 0 auto 30px;
    width: 80px;
    border-bottom: 3px #CCC solid;
  }

  .line-separator {
    margin: 40px auto;
    width: 100%;
    border-bottom: 1px #ccc solid;
  }
}

#foot {
  padding: 60px 0;
  background-image: url(../b1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-color: transparent;

  .join-trip {
    line-height: 40px;
    color: white;
    padding: 0 10px 0 50px;
    overflow: hidden;

    i {
      position: relative;
      margin-left: 15px;
      left: 40px;
    }

    &:hover {
      background-color: rgba(255,255,255, 0.2);
      padding:0 20px 0 40px;
      border-color: rgba(255,255,255, 0.5);
      transition: padding 0.5s, border-color 0.5s ease-out;

      i {
        left: 0;
        transition: left 0.5s ease-out;
      }
    }
  }
}

footer {
  background: #111;
  width: 100%;
  height: 120px;
  color: #777;
  font-size: 13px;
  font-family: HelveticaNeueLTStd-Roman,Helvetica,Arial,sans-serif;

  .footer-elements {
    padding: 40px 0 20px;
    line-height: 20px;

    .copyright {
      color: #777;
      float: left;
    }

    .social {
      text-align: center;
      font-size: 16px;
      .social-link {
        &:hover {
          color: white;
        }
        & + .social-link {
          margin-left: 5px;
        }
      }
    }

    .site-map {
      float: right;
      li {
        color: #CCC;
        display: inline;
        margin-left: 5px;
        a:hover {
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (min-width: 64em) {
  #top-nav {
//    background: greenyellow;
    position: fixed;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .nav-down {
    top: 0;
  }
  .nav-up {
    top: -70px;
    height: 68px;
    padding: 14px 0;
  }
}