
.icon-instagram:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-weibo:before { content: '\e802'; } /* '' */
.icon-angle-right:before { content: '\e803'; } /* '' */
.icon-tencent-weibo:before { content: '\e804'; } /* '' */
.icon-wechat:before { content: '\e805'; } /* '' */
.icon-globe:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */